- is_upstream_mode = mode == "upstream"
- tooltip = _('Delete subscription')
%tr
  %td
    = link_to project.name, project_path(project)
  %td
    .gl-display-flex.gl-align-items-center
      = avatar_without_link(project.namespace, size: 32)
      = project.namespace.name
  - if is_upstream_mode
    %td.gl-text-right
      = link_button_to nil, project_subscription_path(@project, subscription.id), method: :delete, data: { toggle: 'tooltip', title: tooltip, container: 'body', testid: 'delete-subscription' }, variant: :danger, icon: 'close'
  - else
    %td
